*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
    background-color: rgba(8, 7, 7, 0.932);
}


.seperator{
    width: 100%;
    height: 2px;
    background-color: #2f2f2f;
    margin: 2rem 0;
}
/*--- Profile ---*/

.Profile img{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}


.Profile{
    display: flex;
    flex-direction: column;  
    align-items: center;  
    margin: 200px 144px 50px 144px ;

}



/*--- Description List ---*/
.title{
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: grey;
    
}




/*--- Links ---*/
.links {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 2em;
    text-align: center;

    
}

.links img {
    height: 50px;
    width: 50px;
}
.links-items p{
    
}

/*Projects Section*/


.project-section span{

}

.project-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    font-size: 15px;
    gap: 24px;
}

