/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #1c1e1d;
}

header {
  width: 100%;
  height: 200px;

  background-image: url(img/banner_2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* holder of the whole page  */
.main-container {
  background-color: #bbb2e0;
}

/* the top section display and todolist stuff*/
.display-section {
  display: flex;
}

/* the main flex items of the todo list and progress section  */
/* the form container */
.task-container {
}

/* Progress bar container*/
.progress-container {
  background-color: #872020;
}
.progression-numbers {
}
